header{
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 3.5rem;
    transform : translateX(0);  /*left반대편(right)도 50% */
    background:#fff;
    z-index: 10;
}

h1{              /* index.css와 바뀐 부분만 다시 작성 */
    top: 50%;
    width: 1.75rem;
    height: 1.75rem;
    background-color: #fff;
    transform: translate(-50%,-50%); 
    border-radius: 0;
    background:url(../img/onlyLogo.png) no-repeat center / 100% auto #fff ;
}

header .navigation{ 
    display: none; padding: 2.35rem 0 0;
    box-sizing: border-box;
    height:14.3rem;
    position: absolute;
    left: 0;
    top: 3.5rem;   /*header 높이가 3.5rem이라서 위에서부터 3.5 띄움 */
    right: 0;
    background : #fff;
    text-align: center;
}

.visual{
    position: absolute;
    z-index: 0;
    left: 50%;
    transform : translateX(-50%);  
}

header .search, 
header .btn_alram, 
header .btn_menu {
    display: block;  /* 요소의 영역을 차지하지 않고 완전히 삭제된 것 처럼 보이게 */
}
header .btn_alram,
header .btn_menu{    /* 감싸는 큰 박스 */
    position: absolute;
    top: 0;
    width:3.5rem;
    height: 3.5rem;
}
header .btn_alram{
    right: 0;
    background: url(../img/btn_alram.png) no-repeat center / .8rem auto;
}

header .btn_menu{
    left:0;
    background: url(../img/btn_menu.png) no-repeat center / .8rem auto;
}

header .btn_alram.on:after{  /* 동그라미 점 그리기 */
    content: ""; 
    position: absolute; 
    right:1.1rem; 
    top:1.1rem; 
    width:.4rem; 
    height:.4rem; 
    background: #F28CAF;
    border-radius:100%;
    border: 0.1rem solid #fff;
}

header .btn_menu.active{
    background-image: url(../img/btn_menu_active.png);
}

header nav ul { display: block; padding: 2rem 0 0;}
header nav ul li~li {padding: 1.6rem 0 0;}
header nav ul li { padding: 0;}   /*index.css에 있는거 취소 */
header nav ul a:hover {color:#5F41B6; font-weight: bold;}    /* li가 아니라 a에다가 하는 이유: 글자가 a에서 감싸고 있으니깐 */
header nav ul a:after {  display:none;}   /*index.css에서 적용한 것 없애려고 */

header .navigation input{
     width: 10.4335rem; 
     height: 1.7785rem; 
     border-radius:1.7785rem; 
     border: none; 
     background: url(../img/mobile_menu_search.png) no-repeat 3.35rem / .919rem auto #F6F6F6;
     /* 3.35rem center ==> 왼쪽에서 3.35rem 만큼 떨어짐 */
} /*border-radius 높이 만큼 하면 완전 둥그러짐 */

header .navigation input.active{
    background: none;
}
header .navigation input::placeholder{
    text-align: center;
}

/* index.css와 다른 부분만 작성하면 됨 */

main{
    top: 8.85rem;
    z-index: 0;
}

.visual h2{
    width: 7.4rem;
    text-align: left;
}
.visual p{
    padding: 3rem 0 0;
    text-align: left;
}

.visual ul{
    display: block;
    padding: 4rem 0 0;    /* 위 옆 아래 */

}

.visual li{
    padding: 4rem 0 1rem;
    background: no-repeat center top / auto 3.6425rem;
}

.visual li strong{
    font-size: .75rem;
}

.visual li p{
    padding: .548rem 0 0;
    font-size: .7rem;
}
