<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode-app</title>
    <link rel="stylesheet" type="text/css"  href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css"  media="(min-width:0px) and (max-width:500px)" href="/css/mobile.css">
<!--ipad로 할때는 max-width:1025, html{font-size:의 크기만 키워주면 다 같이 사이즈 업}-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" charset="utf-8"></script>
    <script src="/js/index.js" charset="utf-8"></script>
</head>
<body>
    <video autoplay loop muted>
        <source type="video/mp4" src="https://prap-assets.s3.ap-northeast-2.amazonaws.com/baner+01.mp4">
        동영상을 지원하지 않습니다.
    </video>
    <header>
        <h1><span class="hide"></span></h1>   <!--logo-->
        <button class="btn_menu"></button>  <!--햄버거 메뉴-->
        <div class="navigation">  <!--btn_menu 눌렸을 때 2군데에 active들어가는 것으로 js에서 -->
            <div class="search">
                <input type="search" placeholder="Search">
            </div>
        </div>
        <button class="btn_alram on"></button> <!--알람 메뉴, btn_alarm눌렀을 때 on추가하기(js)-->
    </header>
    <main>
    <section class="visual">
        <h2>Join us today</h2>
        <p>한국공학대학교 지능형ICT융합공학과 21.5팀 졸업작품. <br>
             블록체인 기반 웹/앱 DAPP</p>
        <ul>
            <li>
                <strong>Spend time smart</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </li>
            <li>
                <strong>Audio podcast</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </li>
            <li>
                <strong>Boost your time</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </li>
            <li>
                <strong>Quality</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </li>
        </ul>

    </section>
    <div>
        <button class="register_btn" onclick="location.href='/register'">Sing up</button>
        <button class="login_btn" onclick="location.href='/login'">Login</button>
    </div>
    </main>
</body>
</html>