<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/marketDetail.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
    <title>마켓 상세페이지</title>
</head>
<body>
    <header>
        <sapn class="header">
            <img src="img/logo.png" style="width: 6rem;">
            MODE_DAPP
        </sapn>
        <hr>
    </header>
    <main>
        <div class="main-image">
            <!-- <img src="img/test1.png"> -->
            <video playsinline controls disableprictureinpicture controlslist="nodwonload nofullscreen" loop>
                <source src="https://nft-content.upbit.com/b7d43f37-2432-41b6-86a9-8857f555fe44" type="video/mp4">
            </video>
        </div>
        <div class="main-tag">
                <% for(var i=0; i<5; i++) { %>
                    <button>
                        #태그
                    </button>
                <% } %>
        </div>

        <div class="layout">
            <section class="content-left">
                <div class="title">
                    판매게시글에 대한 이름
                </div>
                <div class="registerInfo">
                    <img src="img/profile.png">
                    <div class="profile">
                        <div class="usrid">가나다 </div> <br>
                        <div class="job">발행인 </div>
                    </div>
                    <div class="profile-register">
                        <div> #id  </div> <br>
                        <div> 발행정보 </div>
                    </div>
                </div>
    
                <div class="introduce">
                    토성을 가장 토성답게 만드는 트레이드마크는? '고리'다. 거대 가스형 행성은 모두 고리를 갖지만, 토성 고리의 품격과 존재감은 남다르다. 올리는 이런 토성의 고리 위를 거니는 상상을 하며 잠드는데… 꿈속에서 토성 고리를 산책하는 올리와 베리의 모습을 디지털 콜렉터블 작품으로 표현했다.
                </div>
            </section>
            <section class="content-right">
                <div class="cardTimer">
                    <div class="leftTime">
                        <div class="day">
                            <div class="leftD"> 00 </div>
                            <div> Days </div>
                        </div>
                        <div class="hour">
                            <div class="leftH"> 00 </div>
                            <div> Hours </div>
                        </div>
                        <div class="minutes">
                            <div class="leftM"> 00 </div>
                            <div> Minutes </div>
                        </div>
                        <div class="seconds">
                            <div class="leftS"> 00 </div>
                            <div> Seconds </div>
                        </div>
                    </div>
                    <div class="duration">진행기간 : 2022.10.06 12:00 ~ 2022.10.07 12:00</div>
                </div>
                <hr>
                <div class="detail">
                    <dl class="totalFund">
                        <dt>달성 가격</dt>
                        <dd> <b>1000000</b> 원 펀딩</dd> 
                    </dl>
                    <dl class="type">
                        <dt>방식</dt>
                        <dd>크라우드펀딩</dd>
                    </dl>
                    <div class="StyleBtn">주문하기</div>
                </div>
            </section>
            <br><br><br><br><br>
            <hr>
        </div>

    </main>
    <bottom>
        <!-- 한국공학대학교 졸업작품
        Team | 21.5 -->
    </bottom>
</body>
</html>