<!DOCTYPE html>
<html lang="ko" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" charset="utf-8"></script>
 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
          <script src="/js/apply.js"></script>
          <link rel="stylesheet" type="text/css" href="/css/default.css">
          <link rel="stylesheet" type="text/css" href="/css/apply.css">
</head>

<body>
    <div id="root">
        <%-include('header.ejs')%>
        <%-include('leftside.ejs')%>
        <div class="row">
            <div class="column middle">
              
            </div>
            <%-include('rightside.ejs')%>
        </div>
        <%-include('footer.ejs')%>
    </div>
</body>

</html>