<div class="column right">
    <button type="button" class="helper">
        <div>
            <img src="https://static.wadiz.kr/studio/static/media/guide_point.53fe6a7c.svg">
        </div>
    </button>
</div>
