<div class="column right">
    <button type="button" class="helper">
        <div>
            <img src="https://static.wadiz.kr/studio/static/media/guide_point.53fe6a7c.svg">
        </div>
    </button>
    <div class="p1hover2">
        <b> Q2의 예시 답변을 참고해 보세요. </b>
        <br> <br>
        1. 기존에 없던 새로운 리워드인 경우 <br>
        `우리집 아이가 OO 소재의 이불을 좋아하는 모습을 보고, OO 소재로 만들어진 인형을 만들게 되었습니다. <br>
         `OO는 피부 자극이 적은 소재라 와디즈 서포터님들에게 소개하고 싶어 펀딩을 진행하고자 합니다. <br><br>
        2. 기존에 있던 제품을 개선한 리워드인 경우 <br>
        `자사에서 판매하고 있는 기준 제품에 OO 기능을 추가하였습니다. <br>
        `자사와 협업 관계에 있는 타사의 주력 제품에 OO 기능을 추가한다면 경쟁력이 있다 판단되어 펀딩을 진행하고자 합니다.<br><br>
        3. 해외 판매 이력 제품이 리워드인 경우<br>
        `해외에서 활발히 유통되고 있는 OOO사 브랜드의 유통을 진행하고자 합니다.<br>
        `해외에서 유명한 제품을 합리적인 가격으로 국내에 소개하고 싶어 펀딩을 진행하고 싶습니다.<br>
    </div>
</div>
