*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html body{
    height: 100%;
    color:  rgb(34,34,34);
    overflow-y: hidden;
}

.row{
    height: 100%;
    overflow-y: auto;
}

.header{
    overflow: hidden;
    z-index: 1000;
    background: #fff;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 3rem;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}
.column{
    float: left;
}
.column.left{
    width: 15rem;
    box-shadow:  0 0 0 rgb(0 0 0 / 6%);
    height: 100%;
    padding-bottom: 6rem;
}
.column.middle{
    width: 55%;
    box-sizing: border-box;
    padding: 3rem;
}
.column.right{
    margin: 6rem 4rem;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    text-align: center;
}

#root{
    height: 100%;
}

/* header */
.top-left{
    flex: initial;
    /* width: 10rem; */
}
.top-left > img{
    height: 1.5rem
}
.top-middle{
    flex: 1 1;
    margin: 0 .5rem;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
}
.top-middle > img{
    width: 1.5rem;
}
.top-right{
    line-height: 1.4rem;
    font-size: .8rem;
    font-weight: 400;
    font-style: normal;
}
.top-out{
    font-size: 1rem;
    outline: 0;
    border: 0;
    background-color: transparent;
}

/* left side bar */
.nav-top{

}
#color{
    padding: 1.4rem;
    background: linear-gradient(#1a263d, #243b55);
}
.nav-top span{
    border : .1rem solid #fff;
    border-radius: .4rem;
    font-size: .7rem;
    color: #fff;
    padding: .1rem;
}
.nav-top .top-title{
    font-size: 1.05rem;
    font-weight: 900;
    color: #fff;
    margin: .8rem 0rem;
}
.nav-top .projectNum{
    font-size: .95rem;
    font-weight: 700;
    color: #fff;
}
.top-name{
    display: none;
    font-weight: 800;
    font-size: .8rem;
    padding: 1rem 0;
    margin-left: 1.2rem;
}
.top-name > img{
    width: 1.4rem;
}
.nav-main{
    border-right: .02rem solid rgba(186,189,192,.2);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-title{
    text-decoration: none;
    font-size: .85rem;
    font-weight: 900;
    padding: .8rem .8rem;
    margin-left: .6rem;
    color: #243b55;
}

.list-sub{
    display: none;
    font-size: .9rem;
    font-weight: 800;
    padding: 1rem 0rem 1rem 3.5rem;
    background-color: rgba(186,189,192,.1);
}

.list-udBtn{
    float: right;
    background: transparent url('/img/down-arrow16.png') no-repeat top;
    cursor: pointer;
    width: 3rem;
    height: 1rem;
}

.list-sub li{
    margin-bottom: 1rem;
}

/* right side */
.helper{
    position: relative;
    cursor: pointer;
    height: 7rem;
    width: 19rem;
    background: transparent url("https://static.wadiz.kr/studio/static/media/guide_img.9a5848fe.svg") no-repeat top;
}

.helper div{
    position: absolute;
    top: -10px;
    left: 5%;
    -webkit-animation-name: FundingLinkGuide_tada__22Jxw;
    animation-name: FundingLinkGuide_tada__22Jxw;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.p1hover2{
    margin-top: 5rem;
    font-size: .8rem; 
    width:18rem;
    padding: 1rem;
    background-color: rgba(186,189,192,.1);
}

/* 반응형 사이즈 조절 */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}

/* middle 공통 css */
.middle .path{
    font-size: .8rem;
}

.middle .mainTitle{
    font-size: 2.2rem;
    font-weight: bolder;
    padding: 2rem 0;
}

.question{
    padding: 1.5rem 0;
    font-weight: 600;
}

.title{
    padding-bottom: 1rem;
}

.explain{
    font-size: .9rem;
    color: gray;
    line-height: 130%;
    margin-bottom: 1rem;
}

textarea{
    width: 100%;
    height: 5rem;
}

.middle .saveBtn{
    width: 20rem;
    height: 3rem;
    background-color: #243b55;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 5rem;
}

#category{
    width: 100%;
    height: 2.2rem;
    font-size: 1rem;
    margin-top: .5rem;
}

/* step2 page */
.middle .fileBtn{
    padding: .7rem 2.2rem;
    border-radius: .3rem;
    background-color: gray;
    color: #fff;
}

.p2label{
    font-size: 1.1rem;
    font-weight: 600;
}

input[type=text]{
    height: 2.2rem;
    font-size: 1rem;
    font-weight: 300;
}

/* step3 page */
.file-upload{
    margin-left: 1rem;
}

.imgFile, .videoFile{
    margin-left: .6rem;
}

.p3label{
    font-size: 1.1rem;
    font-weight: 600;
}
.imgFile-instruction{
    margin-left: 1rem;
    margin-top: 2rem;
}
#introImgPath{
    margin-bottom: 3rem;
    vertical-align: baseline;
}

#summaryText{
    margin-bottom: 3rem;
}

 /* 영상 url input css관련 */
 .videoFile{
    padding:1rem 0.5rem;
 }
 .inline{
    width: 60%;
    height: 3rem;
    padding-bottom: .5rem;
 }

 .inline #videoPath{
    width: 70%;
    height: 100%;
    border: 1px solid red;
    font-size:1rem;
    font-style: oblique;
    display:inline;
    outline:none;
    box-sizing: border-box;
    color:black;
    border-radius: 0%;
 }
 input[type=text]::placeholder{font-size: 1rem;}
 .showVideo{          /* input type button */
    width: 10%;
    height:100%;
    border:none;
    background-color: darkgray;
    font-size:1rem;
    color:#fff;
    outline:none;
    display:inline;
    margin-left: -10px;
    box-sizing: border-box;
  }
  input[type=button]:hover{
    background-color: gray;
  }