video{
    object-fit: cover;
    width: 100%;
    height: 100vh;    /* 100vh 세로 fullscreen */
}

main{
    top:13rem;
    position: absolute;
    left: 50%;
    transform : translateX(-50%);  
}

.visual{
    padding: 2rem;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(89, 29, 255, 0.83); */
    background-color : #243b55;
    text-align: center;
    color: #fff;        /* 폰트색 */
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 15px 0px;
    border-radius: 8px;
}

.visual h2{
    font-size: 2rem;
}

.visual p{
    font-size: .7rem;   
    line-height: .9rem;
    padding: .5rem;
}

.visual ul{
    display: flex;
    padding: 4.65rem 0 0;
}

.visual li{
    padding: 4.603rem 0 0 0;
    flex: 1;        /* 가로 크기를 li가 n분의 1로 가짐 */
    background: no-repeat center top / auto 3.6425rem;
}

.visual li:nth-child(1){ background-image: url(../img/ico-index1.png);}
.visual li:nth-child(2){ background-image: url(../img/ico-index2.png);}
.visual li:nth-child(3){ background-image: url(../img/ico-index3.png);}
.visual li:nth-child(4){ background-image: url(../img/ico-index4.png);}


.visual li strong{
    font-size: .95rem;
}

.visual li p{
    font-size: .9rem;
}


/* 한 줄 복사: shift+alt+다운 키 */

