main{padding: 0rem;}
table{margin-top: 7rem; margin-left: 4.5rem; font-size: 1rem;  }
 table td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem 0.3rem;
}
table thead{ border: 2px solid #ccc;}    
 
.list tr:nth-child(odd) {
  background-color: #323C50;
} 

.list tr:nth-child(even) {
  background-color: #2C3446;
}

.list th {
  background-color: #1F2739;
}

.list tr:hover {
  background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
         box-shadow: 0 6px 6px -6px #0E1119;
}

.blue { color: #185875; }

.list tr:nth-child(odd) {
  background-color: #323C50;
} 

.list tr:nth-child(even) {
  background-color: #2C3446;
}

.list th {
  background-color: #1F2739;
}

.list td:first-child { color: #FB667A; }
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1em;
  color:#A7A1AE;
  background-color:#1F2739;
}

.list td, .list th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left:.1%;  
}

button{
  width: 4rem;
  background-color: inherit;
  color: white;
}

 
/* 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
} 

.container td {
	  font-weight: normal;
	  font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

 .container {
	 text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0; 
  display: none;
}  




@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}  */
