*{
    box-sizing: border-box;
}

html {
    font-size: 20px;    
    margin: 0;
}

body {
    margin: 0;
    background: #000;

}

main {
    width: 72rem;          
    margin: 0 auto;
    padding: 15rem 0 0;   /* 상단 메뉴와의 간격 */ 
    float: left; 
}

.swiper{
    width: 48rem;          
}

.container {
    display: flex;
}

.container .line{
    /* padding: 1rem; */
    /* display: inline-flex; */

}

.container .line .item{
    /*display: block;*/
    margin: 1.5rem; 
    /* background: rgba(48, 49, 60, 0.5); */
    background:rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: .7rem;
    width: 22.5rem;
}

.item img {
    padding: .5rem 0rem .1rem;
    /* margin: 0 auto; */
    display: block;
    width: 96.6%;
    height: 14rem;
    border-radius: .7rem;
}

.item .text-box {
    height: 3rem;
    margin: 0.3rem 0.2rem 0.2rem 1.2rem;   /* */
    color: #fff;
    font-size: 0.8rem;
}

.item .title {
    font-size: 0.9rem;
}

.item .sub-title {
    font-size: 0.8rem;
}

.hidden-text{
    display: none;
}

.last{
    opacity: 0.5;
}

.swiper-button-next:after, .swiper-button-prev:after{
    color: #fff;
}

.swiper-button-prev{
    display: none;
}

/* 왼쪽 sidebar */
.left-side{
    background: rgba(0,0,0,.5);
    outline: none;
    line-height: 2rem;
    box-sizing: border-box;
    width: 4.5rem;
    height: 100%;
    padding: 10% 0rem;
    position: fixed;
    margin: auto 0; 
    /* animation: left 1s var(--delay) both; */
}

.left-side .icon{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
}

.left-side .last_icon{
    height: 10%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;

}

/* .left-side img:nth-child(n+1):nth-child(-n+4){ */
    .left-side img{
    width: 1.5rem;
    text-align: center;
    padding: 2rem 0rem;
}

/* 상단 검색 */
#mainSearch{
    width: 100%;
    margin: 0;
    padding: .4rem;
    text-indent: 1rem;
    border-radius: 4px;
    font: inherit;
    font-weight: 700;
    background: rgba(37, 37, 37, 0.9);
    color: #fff;
    margin-bottom: 3rem;
    font-size: .9rem;
    height: 3rem;
    outline: none;
}

input[search]::placeholder {
    font-weight: bold;
    opacity: .5;
    font-size: 1rem;
}

/* instagram */
.instagram{
    display: flex;
}
.story{
    height: 5rem;
    width: 7rem;
    /* display: inline-block ; */
}
.profile{
    width: 4rem;
    height: 4rem;
    background: #bbb;
    border-radius: 50%;
}
.name{
    color: #fff;
    padding: .5rem;
}
