*{
    box-sizing: border-box;
}

html {
    font-size: 20px;    
    margin: 0;
}

body {
    margin: 0;
    background: #000;

}

main {
    position: relative;
    padding: 1rem 0 0;   /* 상단 메뉴와의 간격 */
    transform : translateX(-50%);  /*left반대편(right)도 50% */ 
    left: 50%;
    width: 64.45rem;  /* 64.45rem만큼만 중간에 있어서 */
}

.blur {
    filter: blur(5px);
}
    

.swiper{
    width: 48rem;     
}

.container {
    display: flex;
}

.container .line{
    /* padding: 1rem; */
    /* display: inline-flex; */

}

.container .line .item{
    /*display: block;*/
    margin: 1.5rem; 
    /* background: rgba(48, 49, 60, 0.5); */
    background:rgba(0,0,0,.5);
    box-shadow: 0 10px 15px rgb(0 0 0 / 60%);
    border-radius: .7rem;
    width: 22.5rem;
}

.item img {
    padding: .5rem 0rem .1rem;
    /* margin: 0 auto; */
    display: block;
    width: 96.6%;
    height: 14rem;
    border-radius: .7rem;
}

.item .text-box {
    height: 3rem;
    margin: 0.3rem 0.2rem 0.2rem 1.2rem;   /* */
    color: #fff;
    font-size: 0.8rem;
}

.item .title {
    font-size: 0.9rem;
}

.item .sub-title {
    font-size: 0.8rem;
}

.hidden-text{
    display: none;
}

.last{
    opacity: 0.5;
}

.swiper-button-next:after, .swiper-button-prev:after{
    color: #fff;
}

.swiper-button-prev{
    display: none;
}

/* 왼쪽 sidebar */
.left-side{
    background: rgba(0,0,0,.5);
    outline: none;
    line-height: 2rem;
    box-sizing: border-box;
    width: 4.5rem;
    position: fixed;
    margin: auto 0; 
    /* animation: left 1s var(--delay) both; */
}

.left-side .icon{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
}

.left-side .last_icon{
    height: 10%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;

}

/* .left-side img:nth-child(n+1):nth-child(-n+4){ */
    .left-side img{
    width: 1.5rem;
    text-align: center;
    padding: 2rem 0rem;
}

/* 상단 검색 */
#mainSearch{
    width: 100%;
    margin: 0;
    padding: .4rem;
    text-indent: 1rem;
    border-radius: 10px;
    font: inherit;
    font-weight: 700;
    background: rgba(48, 48, 48, 0.8);
    color: #fff;
    margin-bottom: 2.5rem;
    font-size: .9rem;
    height: 3rem;
    outline: none;
}

input[search]::placeholder {
    font-weight: bold;
    opacity: .5;
    font-size: 1rem;
}

/* instagram */
.instagram{
    display: inline-flex;
    height: 7rem;
}
.story{
    height: 4.5rem;
    width: 4.5rem;
    background: linear-gradient(to right, rgb(255, 197, 91), rgb(233, 97, 97));
    border-radius: 50%;
    padding: .5rem;
    margin: 0 auto;
    margin-right: 2rem;
    position: relative;
}
.profile{
    width: 4rem;
    height: 4rem;
    background: #eee;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.profile img{
    /* margin: .1rem; */
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.name{
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    font-size: .75rem;
    position: relative;
    margin-top: 3.5rem;
}

/* The Modal (background) */
.searchModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 100;
}

/* Modal Content Box */
.search-modal-content {
    background: #ccc;
    margin: -1% auto; /* 15% from the top and centered */
    width: 18.3rem; /* Could be more or less, depending on screen size */
    height: 33rem;
    border-radius: .7rem;
    position: relative;
}
/* 이미지 위에 올라가야 되는 것을 position absolute로 지정 */
.search-modal-content #modal-close{  position: absolute; width: .7rem;  margin-left: 90%; margin-top: 2rem;}
#modal-main img { border-radius:.7rem;  width: 18.5rem; height: 33rem;}
#progressBar{ width: 90%; height: .15rem; background-color: #ccc; position:absolute; margin-top: .8rem; margin-left: 1rem;}
#timeBar{ width: 10%; height: .15rem; background-color: #fff; }


/* header */ 
top{
    position: absolute;
    left: 50%;
    top: 0;
    padding: 1rem 0 0;
    width: 64.45rem;  /* 64.45rem만큼만 중간에 있어서 */
    transform : translateX(-50%);  /*left반대편(right)도 50% */
}

menu{
    margin-top: 11rem;
    position: relative;
    left: 50%;
    padding: 1rem 0 0;
    width: 64.45rem;  /* 64.45rem만큼만 중간에 있어서 */
    transform : translateX(-50%);  /*left반대편(right)도 50% */
}
.navigation{text-align: center; padding-top: 2rem;}
.navigation nav ul { display: inline-flex; }

